# Hue Configuration
HUE_IP=your_hue_ip_here
HUE_USER=your_hue_username_here
HUE_CLIENT_KEY=your_hue_client_key_here

# Spotify Configuration
SPOTIPY_CLIENT_ID=your_spotify_client_id_here
SPOTIPY_CLIENT_SECRET=your_spotify_client_secret_here
SPOTIPY_REDIRECT_URI=http://localhost:8888/callback